.lg-side-nav-link {
  line-height: 32px;
  display: inline-block;
  font-size: 15px;
}

@media (min-width: 992px) {
  .lg-side-nav-link {
    width: 140px;
  }
}

@media (min-width: 1200px) {
  .lg-side-nav-link {
    width: 150px;
  }
}

.lg-side-nav-link-large {
  width: 250px;
}