.lg-side-nav-link {
  line-height: 32px;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}

@media (min-width: 992px) {
  .lg-side-nav-link {
    width: 140px;
  }
}

@media (min-width: 1200px) {
  .lg-side-nav-link {
    width: 150px;
  }
}

.lg-side-nav-link-large {
  width: 200px;
}

.lg-side-nav-link-max {
  width: 250px;
}

.lg-side-nav-link-middle {
  width: 190px;
}

.lg-side-nav-link-hight-light {
  color: #db4a37;
}