.lg-side-nav-panel-group {
  display: none;
  position: absolute;
  top: 0;
  left: 180px;
  z-index: 3;
  transition: top .25s ease;
}
.lg-side-nav-panel-group-ad {
  position: absolute;
  right: 1px;
  top: 20px;
}
.show {
  display: block;
}