.lg-side-nav-panel-group {
  display: none;
  position: absolute;
  top: 0;
  left: 184px;
  z-index: 1;
  height: 560px;
  border: 1px dashed #ff8a65;
  transition: top .25s ease;
  background-color: #fff;
  -webkit-box-shadow: 1px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 1px 0px 5px -2px rgba(0,0,0,0.75);
}

@media (min-width: 768px) {
  .lg-side-nav-panel-group {
    width: 800px;
    padding-right: 0;
  }
}

@media (min-width: 992px){
  .lg-side-nav-panel-group {
    width: 850px;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .lg-side-nav-panel-group {
    width: 1006px;
    padding-right: 150px;
  }
}

.show {
  display: block;
}