.lg-side-nav-panel {
  display: none;
  padding-left: 30px;
  padding-top: 5px;
  margin-left: 4px;
  height: 440px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
  position: relative;
}

.lg-side-nav-panel-ad {
  position: absolute;
  height: 400px;
  right: 10px;
  top: 20px;
}

@media (min-width: 992px) {
  .lg-side-nav-panel-ad {
    width: 120px;
  }
}

@media (min-width: 1200px) {
  .lg-side-nav-panel-ad {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .lg-side-nav-panel {
    width: 800px;
    padding-right: 0;
  }
}

@media (min-width: 992px){
  .lg-side-nav-panel {
    width: 755px;
    padding-right: 70px;
  }
}

@media (min-width: 1200px) {
  .lg-side-nav-panel {
    width: 1006px;
    padding-right: 150px;
  }
}

.show {
  display: block;
}
